name: Consume Registry

on:
  workflow_dispatch:
    inputs:
      registry_url:
        description: Registry URL to consume
        required: true
        type: string
      commit_message:
        description: Commit message
        required: true
        type: string

jobs:
  consume:
    runs-on: ubuntu-latest
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm

      - run: pnpm install

      - run: pnpm dlx shadcn@latest add ${{ inputs.registry_url }} -o

      - run: pnpm compile

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: ${{ inputs.commit_message }}
